

body {
    margin: 0;
    font-family: Arial;
    background-color: #1a2421;
}

.navbar {
    background-color: #1b5e20;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 25px;
    position: fixed;
    right: 1px;
    left: 1px;
    top: 1px;
    z-index: 9999999;
}

/* logo */
.logo {
    margin: 0;
    color: #fff;
      font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;

  font-style: normal;
}

/* menu */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-menu li a {
    text-decoration: none;
    color: black;
}

/* hamburger */
.hamburger {
    display: none;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
}

.container-profile{
    background-color: rgba(170, 255, 238, 0.4);
    width: 330px;
    height: 330px;
    margin-top: 150px;
    margin-left: 78px;
    border: 2px solid #fff;
    border-radius: 25px;
    
}

.container-profile .headbox{
   
  
    padding-left: 2px;
    margin-bottom: 10px; /* kecilin jarak ke bawah */
    background-color: #fff;
    margin-top: -5px;
    border-radius: 150px;
   border: 1px solid #228b22;
   height: 35px;
}

.container-profile .headbox h1{
 font-size: 0;
}

.container-profile h2{
    margin-bottom: 5px; /* kecilin jarak ke bawah */
    padding-left: 2px;
    margin-top: 0;
    font-family: "Rowdies", sans-serif;
    
}
.container-profile p{
    margin-top: 0;
    padding-left: 2px;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container-profile img{
    width: 100px;
   z-index: 1;
   position: relative;
 top: -300px;
 right: -190px;
 border: 1px solid #228b22;
 border-radius: 50px;
}

.container-home{
    background-color: #A2CB8B;
width: 330px;
height: 330px;
margin-top: 150px;
margin-left: 78px;
border: 2px solid #fff;
border-radius: 25px;
}
.klik{
    margin-top: 50px;
    margin-left: 189px;

}

.klik .btn-klik{
    background-color: #228b22;
    width: 150px;
    height: 50px;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 25px;
    
}

.klik .btn-klik a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.btn-klik:hover{
    background-color: #1a6b1a;
    transform: scale(1.05);
}

.about {
    margin-top: 350px;
    height: 600px;
}

.foot{
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: #1b5e20;
border: 2px solid white;
border-radius: 25px;
margin-top: 20px;
color: #fff;
}

.foot a  {
    text-decoration: none;
    color: #fff;
}
/* RESPONSIVE */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        right: 0;
        background: #84B179;
        width: 200px;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 25px;
        z-index: 9999;
    }
    
    .nav-menu a:hover{
        color: white;
    }
    
    .nav-menu.active {
        display: flex;
    }
    
    
    .container-home {
    background-color: #f1f8e9;
    width: 330px;
    height: 330px;
    margin-top: 390px;
    margin-left: 23px;
    border: 2px solid #fff;
    border-radius: 25px;
      opacity: 0;
  transform: translateY(50px); /* posisi awal (di bawah) */
  transition: all 0.6s ease;
  scroll-margin-top: 150px; /* sesuaikan tinggi navbar */
    box-shadow: 
    0 10px 25px rgba(100, 220, 180, 0.3),
    0 0 10px rgba(100, 220, 180, 0.15);
  backdrop-filter: blur(6px);
}

.container-home.show{
    opacity: 1;
  transform: translateY(0); /* naik ke posisi normal */
}

.container-home h2{
       margin-bottom: 1px; /* kecilin jarak ke bawah */
    padding-left: 2px;
    margin-top: 1;
    text-align: center;
     text-shadow: 
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white,
    -2px  0px 0 white,
     2px  0px 0 white,
     0px -2px 0 white,
     0px  2px 0 white;
    font-family: "Poetsen One", sans-serif;
}
.container-home p{
    text-align: center;
    margin-top: 2px;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
}
.container-home h2 span{
    text-decoration: underline;
    color: white;
     text-shadow: 
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black,
    -2px  0px 0 black,
     2px  0px 0 black,
     0px -2px 0 black,
     0px  2px 0 black;
     font-family: "Poetsen One", sans-serif;
}

.container-profile {
    background-color: #f1f8e9;
    backdrop-filter: blur(15px);
    width: 330px;
    height: 330px;
    margin-top: 150px;
    margin-left: 23px;
    border: 2px solid rgba(46, 204, 113, 0.3);
    border-radius: 25px;
       box-shadow: 
    0 10px 25px rgba(100, 220, 180, 0.3),
    0 0 10px rgba(100, 220, 180, 0.15);
  backdrop-filter: blur(6px);
    
}

html {
    scroll-behavior: smooth;
}

.about{
    margin-top: 350px;
    height: 1000px;
}
.about h1{
    text-align: center;
    font-family: "Rowdies", sans-serif
}
.about h2{
    text-align: left;
}

.about img{
    width: 120px;
    justify-content: center;
    position: relative;
    margin-left: 100px;
    border: 3px solid darkslategrey;
    border-radius: 25px;
}

:root {
    --bg: rgb(147, 210, 195);
    --navbar: rgb(118, 230, 135);
    --button: rgb(110, 220, 190);
    --card: rgb(230, 230, 230);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
}




.logo {
  position: relative;
  display: inline-block;
}

/* cursor */
.logo::after {
  content: "|";
  margin-left: 5px;
  animation: blink 1s infinite;
}

/* underline */
.logo::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 0;
  background-color: #6ee7b7;
  animation: underline 2s ease-in-out infinite;
}

/* animasi cursor */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* animasi underline */
@keyframes underline {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}


}
